#logo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


img:not(#logo), iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: rebeccapurple;
	border-style: solid;
	border-width: 4px;

}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
  color: #a500f2;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #cecece;
}

a:link {
  color: #a500f2;
}

a[href^="http"] {
  float: left;
  background-image: url(img/globo.png);
  background-repeat: no-repeat;
  padding-left: 18px;
}

.nota {
  opacity: 0.5;
}

.passos {
  background-color: #e7b3ff;
  font-size: 36px;
  color: #794591;
}

.nome-passo {
  font-size: 20px;
}

p {
  text-align: justify;
}

body {
  max-width: 600px;
  margin: auto;
  background-color: #f9ebff;
}

strong {
  color: #a500f2;
}